.custom-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
  margin: 0 auto;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.table-container {
  min-height: 100vh;
  background-image: url(https://www.bdtglobal.com/img/bg-home.jpg) ;
  padding: 0px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-card {
  background-color: white;
  border-radius: 12px;
  padding: 30px;
  width: 100%;
  max-width: 1000px; /* puede ajustarse según necesidad */
  margin: 0 auto;
}

.custom-table {
  width: 100%;
  table-layout: fixed; /* Fuerza distribución igualitaria de columnas */
  border-collapse: collapse;
  font-size: 0.95rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.custom-table th,
.custom-table td {
  text-align: center;
  padding: 12px;
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-size: 0.85rem;
}

.custom-table th {
  background-color: rgb(80, 70, 223);
  color: white;
  font-weight: bold;
}

.custom-table tr:hover {
  background-color: #f5f5f5;
}

.btn-view {
  padding: 6px 12px;
  font-size: 0.85rem;
  font-weight: bold;
  background-color: rgb(80, 70, 223);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn-view:hover {
  background-color: rgb(65, 57, 190);
}
